# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/GenePrak2/Debug
/GenePrak2/GenePrak2.sdf
/GenePrak2/GenePrak2/Debug
/GenePrak2/GenePrak2/GenePrak2.vcxproj.user
/GenePrak2/GenePrak2/GenePrak2.vcxproj.filters
